@import '~bootstrap/dist/css/bootstrap.css';
@import '/src/assets/styles/general.scss';

.example-card {
    max-width: 400px;
  }

  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
