<div class="position-absolute top-50 start-50 translate-middle">
    <!-- ESEMPIO CARD + IMG + TEXT -->
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Profilo Utente</mat-card-title>
            <mat-card-subtitle>Questo è il tuo profilo</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p class="mt-3">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id dignissimos vel quia fuga error neque ex,
                non officiis adipisci nobis praesentium debitis delectus commodi similique, tempore enim ducimus facilis
                rerum beatae excepturi necessitatibus dolorem! Eius eos minima repellendus natus autem, dolores, a
                ipsum, sed sapiente eligendi odio laudantium sint aspernatur!
            </p>
        </mat-card-content>
    </mat-card>
    <!-- / ESEMPIO CARD + IMG + TEXT -->
</div>
