<mat-toolbar>
  <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <a mat-menu-item routerLink="login" *ngIf="!showLink()">
      Login
    </a>
    <a mat-menu-item routerLink="registrati" *ngIf="!showLink()">
      Registrati
    </a>
    <a mat-menu-item routerLink="recupera-password" *ngIf="!showLink()">
      Recupera password
    </a>
    <a mat-menu-item routerLink="profilo" *ngIf="showLink()">
      Profilo
    </a>
    <a mat-menu-item routerLink="welcomeback" *ngIf="showLink()" (click)="onLogout()">
      Logout
    </a>
  </mat-menu>
  <span><a routerLink="/">Home</a></span>
</mat-toolbar>
<router-outlet></router-outlet>
